name: pytest-unittests

'on':
  push:
    branches-ignore:
      - main
    tags:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Running Tests
      env:
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        CLIENT_STUDY_ID: ${{ secrets.CLIENT_STUDY_ID }}
        IMPORT_STUDY_ID: ${{ secrets.IMPORT_STUDY_ID }}
        STUDY_STUDY_ID: ${{ secrets.STUDY_STUDY_ID }}
      run: |
        cd castoredc_api
        pytest --ignore=tests/test_import --ignore=tests/test_integration --ignore=tests/test_output
